:root {
  --bg: #2c5234;
  --bg-dark: #0c3916;
  --white: #fff;
  --black: #000;
  --brown: #422800;
  --gray: #808080;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100vh;
  width: 100vw;
  background-image: radial-gradient(circle, #2c5234, var(--bg-dark));
  font-size: 10px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

