.container {
  height: 20vh;
  min-width: 30vw;
  max-width: 95vw;
  margin: auto;
  border: 1px solid black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: var(--bg-dark);
  border-radius: 10px;
  padding: 1rem;
  position: relative;
  z-index: 100;
}

.cardBox {
  padding: 1rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score {
  color: white;
  font-size: 2rem;
  position: absolute;
  left: 50%;
  z-index: 200;
  background-color: var(--bg-dark);
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.5rem 1rem;
}

.house {
    top: 0;
    transform:  translateX(-50%) translateY(-50%);
}

.player {
    bottom: 0;
    transform:  translateX(-50%) translateY(50%);
}
